# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [55]:
import pandas as pd
import numpy as np

# Seu código aqui

s = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
s

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [56]:
# seu código aqui
s = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index=["1900","1920", "1940", "1960", "1980","2000", "2020"])
s

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [57]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
s = pd.Series(dic_temperaturas)
s

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [63]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   101.651461   91.481164   82.504357
1    93.031272  103.668357  105.937125
2   101.948661   90.465509   94.645540
3   101.154434   92.096933   84.295203
4   103.435974  101.076817  101.099309
5   110.512463  105.094174  106.465949
6   100.487054   96.706227   95.726772
7    91.725052   94.495970   88.029548
8   113.020497  116.677177   93.920474
9    93.727644  105.071006   96.090873
10   75.107591   97.898461   96.610542
11   89.637693  100.604488  101.332732
12   88.693280  108.024059   87.950689
13  109.933437   93.832011   95.394981
14   95.862137  118.961758   96.257528
15   90.878790   95.994578   82.603026
16   79.898793  125.653939  101.961872
17  106.006034   81.881786  102.538269
18   93.259122  104.385205   90.167943
19   90.666507  114.532879   86.524727

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [64]:
#seu código aqui
df = pd.DataFrame({"x1":df[0] , "x2":df[1], "x3":df[2]}, index = np.arange(0,20))
df

            x1          x2          x3
0   101.651461   91.481164   82.504357
1    93.031272  103.668357  105.937125
2   101.948661   90.465509   94.645540
3   101.154434   92.096933   84.295203
4   103.435974  101.076817  101.099309
5   110.512463  105.094174  106.465949
6   100.487054   96.706227   95.726772
7    91.725052   94.495970   88.029548
8   113.020497  116.677177   93.920474
9    93.727644  105.071006   96.090873
10   75.107591   97.898461   96.610542
11   89.637693  100.604488  101.332732
12   88.693280  108.024059   87.950689
13  109.933437   93.832011   95.394981
14   95.862137  118.961758   96.257528
15   90.878790   95.994578   82.603026
16   79.898793  125.653939  101.961872
17  106.006034   81.881786  102.538269
18   93.259122  104.385205   90.167943
19   90.666507  114.532879   86.524727

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [65]:
# seu código aqui
df["media"] = (df["x1"]+df["x2"]+df["x3"])/3 
df

            x1          x2          x3       media
0   101.651461   91.481164   82.504357   91.878994
1    93.031272  103.668357  105.937125  100.878918
2   101.948661   90.465509   94.645540   95.686570
3   101.154434   92.096933   84.295203   92.515524
4   103.435974  101.076817  101.099309  101.870700
5   110.512463  105.094174  106.465949  107.357528
6   100.487054   96.706227   95.726772   97.640018
7    91.725052   94.495970   88.029548   91.416857
8   113.020497  116.677177   93.920474  107.872716
9    93.727644  105.071006   96.090873   98.296508
10   75.107591   97.898461   96.610542   89.872198
11   89.637693  100.604488  101.332732   97.191638
12   88.693280  108.024059   87.950689   94.889342
13  109.933437   93.832011   95.394981   99.720143
14   95.862137  118.961758   96.257528  103.693808
15   90.878790   95.994578   82.603026   89.825464
16   79.898793  125.653939  101.961872  102.504868
17  106.006034   81.881786  102.538269   96.808696
18   93.259122  104.385205   90.167943   95.937423
19   90.666507  114.532879   86.524727   97.241371

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [66]:
# seu código aqui
df["log_med"] = np.log10(df["media"])
df

            x1          x2          x3       media   log_med
0   101.651461   91.481164   82.504357   91.878994  1.963216
1    93.031272  103.668357  105.937125  100.878918  2.003800
2   101.948661   90.465509   94.645540   95.686570  1.980851
3   101.154434   92.096933   84.295203   92.515524  1.966215
4   103.435974  101.076817  101.099309  101.870700  2.008049
5   110.512463  105.094174  106.465949  107.357528  2.030833
6   100.487054   96.706227   95.726772   97.640018  1.989628
7    91.725052   94.495970   88.029548   91.416857  1.961026
8   113.020497  116.677177   93.920474  107.872716  2.032912
9    93.727644  105.071006   96.090873   98.296508  1.992538
10   75.107591   97.898461   96.610542   89.872198  1.953625
11   89.637693  100.604488  101.332732   97.191638  1.987629
12   88.693280  108.024059   87.950689   94.889342  1.977217
13  109.933437   93.832011   95.394981   99.720143  1.998783
14   95.862137  118.961758   96.257528  103.693808  2.015753
15   90.878790   95.994578   82.603026   89.825464  1.953399
16   79.898793  125.653939  101.961872  102.504868  2.010744
17  106.006034   81.881786  102.538269   96.808696  1.985914
18   93.259122  104.385205   90.167943   95.937423  1.981988
19   90.666507  114.532879   86.524727   97.241371  1.987851